@font-face{
    font-family: Apex;
    src: url(../assets/Apex\ Regular.otf);
}


@import url('https://fonts.googleapis.com/css2?family=Changa&family=Inter&display=swap');


* {
    margin: 0;
    padding: 0;
}

nav.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav img {
    padding-bottom: 2px;
    width: 95px;
    height: 95px;
    float: left !important;
}

nav {
    z-index: 10000;
    height: 65px;
    display: flex;
    background-color: black;
    padding: 0 4vw;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0px;
    float: right;
}

nav ul li {
    padding-top: 4px;
    list-style: none;
}

nav ul li a {
    letter-spacing: 1px;
    margin-left: 2vw;
    font-family: Apex;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

nav a:hover {
    color:#FF1D1D
}

nav a.button {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    padding: 6px 6px;
    padding-bottom: 1.5px;
    color: #FF1D1D !important;
}

.active {
    color: #FF1D1D;
    border-bottom: 3px solid #ff1100;
    width: 50%;
}

nav a.button:hover {
    border: 2px solid #A40A0A;
    color: #A40A0A !important;
}
section.video {
    background-image: url(../assets/video.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 150%;
    overflow-x: hidden;
    height: 700px;
    box-shadow: 10px 10px 10px #000;
}

section h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
    font-family: 'Changa', sans-serif ;
    color: white;
    text-decoration: underline 3px;
}

.you-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px 100px;
}

.promotion {
    z-index: 5;
    margin-top: 0px;
    display: flex;
    background-image: url(../assets/bg\ promo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
    justify-content: space-around;
    padding: 0px;
}

.promo-desc {
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
    width: 40%;
    padding-right: 60px;
}

.promo-desc h1 {
    font-size: 55px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: white;
    padding-bottom: 10px;
}

.promo-desc h4 {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 200;
}

.btn {
    padding: 20px;
  
}

.btn a {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: white;
    border: 3px solid white;
    padding: 5px 10px;
    border-radius: 7px;
    text-decoration: none;
}

.btn a:hover {
    color: black;
    border: 3px solid black;
    text-decoration: none;
}


.promo-img {
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    
}
.promo-img img {
    max-height: 510px;
    width: 500px;
    object-fit: cover;
    object-position: -25% 0;
}
/* Latest News */
.latest-news {
    z-index: 4;
    background-color: #E7E0D8;
    max-width: 100%;
    max-height: 490px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.latest-news.news-image {
    flex-direction: column;
    float: left;
}
.news-image img {
    max-height: 400px;
    margin-bottom: -4px;
}

.news-title {
    margin-top: 10px;
    background-color: #C64242;
    border-radius: 15px;
    
}
.news-title h1 {
    color: white;
    font-weight: 200;
    padding-top: 8px;
    justify-content: center;
    font-family: Apex;
    text-align: center;
    padding-right: px;
}

.card {
    padding: 10px;
}

.card:hover{
    transform: scale(1.05);
}

/* Latets News End */

/* Footer Container */
footer {
    background-color: #2D2C2C;
    padding: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.join-con{
    justify-content: center;
    align-items: center;
    width: 100%;

    padding-top: 50px;
    padding-bottom: 50px;

}

.sosmed {
    align-items: left;
    margin-left: 5%;
    padding-top: 20px;
    display: flex;
    width: 60%;
    flex-direction: column;
}

.sosmed {
    margin-top: 10px;
    border-top: 3px solid #ff1100;
    justify-content: space-between;
}

.join-con h2 {
    align-items: left;
    margin-left: 6%;
    font-family: Apex;
    font-size: 28px;
    color: white;
    font-weight: 70;
}

.col2 {
    margin-top: -70px;
}

.join-con .sosmed img {
    padding: 5px 5px;
    padding-left: 20px;
}

.join-con .sosmed img:hover {
transform: scale(1.25);
}

.adex-fot {
    position: relative;
    flex-direction: wrap;
    float: right;
    height: 150px;
    width: 150px;
    margin-right: -10px;
    margin-top: -40px;
    transform: none !important;
}

.bj-fot {
    float: right;
    height: 100px;
    width: 300px;
    margin-right: 50px;
    margin-top: -20px;
    margin-right: -10px;
    transform: none !important;
}
.warning {
    margin-top: 60px;
    display: flex;
    float: right;
    margin-right: 12vh;
    transform: none !important;
}

/* Footer Copy Right */
.footer-cr{
    height: 50px;
    font-family: 'Inter', sans-serif;
    align-content: center;
    background-color: black;
    bottom: 0;
    width: 100%;
}
.footer-text{
    font-size: 1.2rem;
    text-align: center;
    color: rgb(231, 231, 231);
    padding-top: 13px;
}